/* h3 {
  color: red;
  width: 500px;
}

li {
  color: black;
  width: 500px;
  border: 1px solid black;
  background-color: orange;
  margin-bottom: 5px;
} */

html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;
  background-color: rgb(158, 172, 159);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: aquamarine;
  padding: 0 40px 10px 40px; /* top, right, bottom, left*/
  border: 5px solid black;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin: 10px;
  padding: 20px 0;
  color: rgb(50, 50, 88);
  text-shadow: 10px 2px 1px rgb(158, 172, 159);
}

/* text-shadow applies a shadow to the text content of the element:

The first pixel value sets the horizontal offset of the shadow from the text: how far it moves across.
The second pixel value sets the vertical offset of the shadow from the text: how far it moves down.
The third pixel value sets the blur radius of the shadow. A larger value produces a more fuzzy-looking shadow.
The fourth value sets the base color of the shadow. */

h2 {
  font-size: 30px;
  /* text-align: center; */
}

h3 {
  font-size: 22px;
  /* text-align: center; */
  color: rgb(50, 50, 88);
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
